#openchat-button{
    position: absolute;
    bottom: 10px;
    right: 40px;
    font-size: 30px;
    color: white;
    font-weight: bold;
    border-radius: 25%;
    background-color: #4484fa;
    border: 1px solid #002569;
}

#openchat-button:hover{
    background-color: #5e8add;
	
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
 }
.chat-window{
    position: absolute;
    bottom: 2px;
    right: 2px;
    min-width: 320px;
}
.msg_container_base{
  background: #e5e5e5;
  max-height:320px;
  height: 45vh;
  overflow-x:hidden;
 
}
.top-bar {
  color: white;
  padding: 5px;
  overflow: hidden;
}
.messages {
  background: white;
  padding: 8px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  max-width:100%;
}
.messages > p {
    font-size: 13px;
    margin: 0 0 0.2px 0;
  }
.messages > time {
    font-size: 11px;
    color: #ccc;
}
.msg_container {
    position: relative;
    padding: 5px;
    overflow: hidden;
}
.msg_sent{
    background: cadetblue;
    color: whitesmoke;
}

img {
    width: 50%;
    align-content: center;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}
.nickname{
    font-size: 10px;
    color: rgb(34, 0, 20);
    text-align: center
}
.msg_container_base::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.msg_container_base::-webkit-scrollbar
{
    width: 6px;
    background-color: #F5F5F5;
}

.msg_container_base::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,.3);
    background-color: silver;
}

@media screen and (max-device-width: 768px) and (orientation: portrait) {
    .msg_container_base {
        max-height: calc(100vh - 126px);
        height: 100vh;
    }

    .chat-window{
        width: 100vw;
        right: 0;
        top: 0;
    }
    
    .chat-window > div {
        padding: 0;
        margin: 0;
    }
}
@media screen and (max-device-width: 1024px) and (orientation: landscape) {
    .msg_container_base {
        max-height: calc(100vh - 120px);
        height: 100vh;
    }

    .chat-window {
        width: 100vw;
        right:0;
    }

    .chat-window > div {
        padding: 0;
        margin: 0;
    }

}